.awards{
    background-image: url("../public/img/bg-awards.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imageContainer {
    width: 100%;
}
.imageContainer > span {
    position: unset !important;
}
.imageContainer .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}