.wrapper{
  background-image: url("../public/img/background.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @apply h-screen flex justify-center items-center flex-col;
}
.logo{
  @apply py-3 flex items-center;
}
.logoItem{
 @apply px-3;
}

.image-100{
  width: 87px;
  height: 375px;
  display: flex;
}
.imageTop100{
  width: 87px;
}
.image100{
  width: 278px;
}
@media screen(sm) {
  .imageTop100{
    width: 101px;
  }
  .image100{
    width: 386px;
    height: 375px;
    display: flex;
  }
}

